<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ilustre Municipalidad de Valparaíso</title>

    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de la aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">-->
    @RenderBody()
    
    
    <footer class="ftco-footer ftco-section">

        <section id="contacto">

            <div class="container">

                <div class="row">

                    <div class="col-md-10 contact-main" data-aos="fade-up">
                        <p>
                            <a href="#" class="contact-email">© @DateTime.Now.Year  Ilustre Municipalidad de Valparaíso</a>
                            <span class="contact-number">+56 32 293 9000  /  +56 32 293 9100</span>
                        </p>
                    </div>


                </div>


                <div class="row">

                    <div class="col-md-4 tab-full contact-secondary" data-aos="fade-up">
                        <p class="titulo1">Ed. Av Argentina</p>

                        <span class="contact-address">
                            Av. Argentina #864<br>
                            Valparaíso<br>
                        </span>
                    </div>

                    <div class="col-md-4 tab-full contact-secondary" data-aos="fade-up">
                        <p class="titulo1">Ed. Consistorial</p>

                        <span class="contact-address">
                            Condell #1490<br>
                            Valparaíso<br>
                        </span>
                    </div>



                    <div class="col-md-4 tab-full contact-secondary" data-aos="fade-up">
                        <p class="titulo1">Síguenos</p>

                        <ul class="contact-social">
                            <li>
                                <a href="https://www.facebook.com/Municipiovalpo/" target="_blank"><span class="icon-facebook"></span></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/MunicipioValpo" target="_blank"><span class="icon-twitter"></span></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCX-t1KcAlQzrczJrXEKfEQw" target="_blank"><span class="icon-youtube"></span></a>
                            </li>

                        </ul>

                    </div>


                </div>


            </div>
        </section>


        <div class="row justify-content-end">
            <div class="col-md-9">
                &nbsp;
            </div>
            <div class="col-md-3">
                <div class="sun"></div>
            </div>
        </div>

        <section class="fadeInUp" data-wow-offset="10">
            <svg height="320" width="100%">
                <polygon points="232,6 40,140 20,312 780,360" fill="#e73c45" />
                <polygon points="500,174 720,102 840,150 1080,400 144,275" fill="#4bbfe0" />
                <polygon points="880,310 670,170 494,176 720,102 810,180" fill="#3794ad" />
                <polygon points="247,245 324,214 360,360" fill="#4bbfe0" />

                <g id="apex">
                    <polygon points="40,140 232,6 310,100 288,350 20,282" fill="#b43137" />
                    <polygon points="-100,340 100,170 286,70 375,170 901,390" fill="#f7ea53" />
                    <polygon points="230,140 100,170 286,70 350,260" fill="#c4ba43" />
                </g>
            </svg>

        </section>

    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
